<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
  <body style="padding-top:50px">
    <div class="container" style="background:black">
      <div class="row" >
        <div class="col-sum-12"  style="color:white;padding-top:20px;padding-left:40px;font-size:32px;float:left">
        <b>Books Information Page</B><br>
        </div>
     </div>
    </div>
  <div class="container"style=background-blend-mode:lighten;background-size:cover;background-color:#ffe699;">
  <div class="row">
    <div class="col-sm-7">
      <br>
      <div style="font-size:20px;padding-top:10px;padding-left:20px;color:black"><b>Filter Books based on Column Name</b></div>
  <form method='POST'style="padding-top:10px;padding-left:20px;color:black">
    <label for="column_name">Enter the column name</label> <br>
    <input type="text" placeholder="Name" name="column_name"><br>
    <label for="column_value">Enter the column value</label> <br>
    <input type="text" placeholder="Reynolds" name="column_value">
    <br> <br>
    <input style="border: none; border-radius: 8px;color: #fff;background-color: #4CAF50;"     type='submit'></form>
    <br>
    <br>
</div>
</div>
</body>
</html>
